[Unit]
Description=uWSGI randomtools

[Service]
ExecStart=/home/loki/.local/bin/uwsgi --master --emperor /var/www/html/randomtools/uwsgi.ini --die-on-term --uid root --gid root --logto /var/www/html/randomtools/logs/emperor.log
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target